{% extends 'base.html' %}

{% block main %}
<div>
    <h1>My Projects</h1>
    {% if project_list == None %}
    <p>"You are not assigned to any projects</p>
    {% else %}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of Tasks</th>
            </tr>
        </thead>
        <tbody>
            {% for pro in project_list %}
            <tr>
                <td><a href="{% url 'show_project' pro.id %}">{{ pro.name }}</a></td>
                <td>{{ pro.tasks.count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock main %}